<% if logged_in? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for [@micropost, @comment], remote: true do | f | %>
        <%= f.hidden_field :parent_id %>
        <%= f.text_area :content, 
              label: false,
              id: 'comment-text', class: 'form-control',
              placeholder: (f.object.parent_id.nil? ? 'コメントする' : 'コメントに返信する') %>
        <%= f.submit (f.object.parent_id.nil? ? 'コメントを投稿' : '返信を投稿'),
                                    class: 'btn btn-primary comment-action' %>
      <% end %>
    </div>
  </div>
<% end %>